*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: 'Cambria', serif;
}

h1{
  font-size: 18px;
}
h2{
  font-size: 14px;
}
h3{
  font-size: 12px;
}

header{
  text-align: center;
}
nav ul{
  white-space: nowrap;
}
nav li{
  display: inline-block;
  font-size: 14px;
  padding: 15px;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.portfolioContent{
  display: none;
}
section#portfolioNav{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
main#portfolioView{
  display: none;
}
main#aboutView{
  display:none;
}
main#resumeView{
  display:none;
}
main#contactView{
  display:none;
}
main#homeView{
  display:none;
}

