*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: 'Cambria', serif;
}

h1{
  font-size: 18px;
}
h2{
  font-size: 14px;
}
h3{
  font-size: 12px;
}

header{
  text-align: center;
}
nav ul{
  white-space: nowrap;
}
nav li{
  display: inline-block;
  font-size: 14px;
  padding: 15px;
}

nav li a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

.portfolioContent{
  display: none;
}
section#portfolioNav{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
#portfolioView{
  display: none;
  text-align: center;
}
#aboutView{
  display:none;
}
#resumeView{
  display:none;
}
#contactView{
  display:none;
}
#homeView{
  display:none;
}
#dataAlert{
  display:none;
}
button{
  display:none;
}
#practiceClosures{
  text-align: center;
  margin-top: 35px;
}